node_modules
npm-debug.log
.vscode
__pycache__
env
/secrets-store/*
/secrets-store/**/*
/hack_console/challenges/*
/hack_console/challenges/**/*
/hack_console/solutions/*
/hack_console/solutions/**/*
/users.json
/iac/hack_console.zip
/timings.csv
/users-hackers.csv
/users-coaches.csv
/notes.md
/createdEntraIdUserSettings.json
