{% extends "layout.html" %}
{% block title %}
HackBox Console - Techlead Management
{% endblock %}
{% block headloadscript %}
{% endblock %}
{% block toolbar %}
{% endblock %}
{% block content %}
<h1 class="page-title">Techlead Management</h1>

<div class="toolbar-group">
	<a href="#" class="pill-btn success" data-action="challenge-approve-every-team" id="challenge-approve-every-team">Approve (every team)</a>
	<a href="#" class="pill-btn warn" data-action="challenge-revert-every-team" id="challenge-revert-every-team">Revert (every team)</a>
	<a href="#" class="pill-btn danger" data-action="challenge-reset-every-team" id="challenge-reset-every-team">Reset (every team)</a>
</div>

<br /><br />

<div id="techlead-management">Loading...
</div>

<!--
<div class="card">
	<div class="watch-display" id="timer-time" aria-live="polite">00:00:00</div>
</div>

<h1 class="page-title">Challenge Completion Times</h1>
<table class="generic" id="challenge-completion-times-table">
</table>
-->


{% endblock %}

{% block bottomloadscript %}
<script src="{{ url_for('static', filename='assets/js/techlead.js') }}"></script>
{% endblock %}
